*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5efef;
}


.wrapper{
    width:1024px;
    margin:auto;
    background:#fff;
    overflow:hidden;
}


.columnaIzq{
    width:204px;
    float:left;
}

.columnaIzq img{
    width:100px;
    display:block;
    margin:20px auto;
}

.columnaIzq ul{
    list-style:none;
    border-top:1px solid #3b3a3a;
    margin-top:30px;
    text-align:center;
}

.columnaIzq ul li a{
    display:block;
    text-decoration:none;
    color:#242425;
    padding:10px;
}

.columnaIzq ul li a:hover{
    color:rgb(180, 27, 27);
}



.columnaDch{
    width:779px;
    height:500px;
    float:left;
    border-left:1px solid gray;
    padding:20px;
}

.columnaDch h1{
    margin-bottom:20px;
}

.columnaDch p{
    color:SlateGray;
    text-align:justify;
    margin-bottom:20px;
    line-height:1.7;
}